@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --ff-main: 'Roboto', sans-serif;

    --font-light: white;
    --font-dark: black;

    --color-one: white;
    --color-two: #e1e8ef;
    --color-three: #0193d2;
    --color-four: #f1b133;
}

body {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-areas:
        'sidebar header'
        'sidebar main'
        'sidebar footer';
}

/*##############################
            SIDEBAR
#############################*/

.sidebar {
    grid-area: sidebar;
}

/*##############################
            HEADER
#############################*/

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-profile {
    justify-self: end;
}

.header-buttons {
    justify-self: end;
    display: flex;
}

/*##############################
            MAIN
#############################*/

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 250px;
}

.projects {
    grid-row: span 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.projects-heading {
    grid-column: 1 / -1;
}

.projects-card-btn-container {
    display: flex;
    justify-content: end;
}

/*##############################
            FOOTER
#############################*/

.footer {
    grid-area: footer;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}