body {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-areas:
        'sidebar header'
        'sidebar main'
        'sidebar footer';
}

.sidebar {
    grid-area: sidebar;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}